.dropdown-menu {
  text-align: center;
}
.carousel-caption {
  color: violet;
}
/*#carouselExampleCaptions {
  mask-image: linear-gradient();
  -webkit-mask-image: linear-gradient(black, transparent);
}*/
.card-top {
  position: relative;
  top: -20px;
  z-index: 1;
  margin-left: 50px;
  margin-right: 25px;
}
.carousel-control-prev,
.carousel-control-next {
  border: 2px solid aqua;
  background-color: slateblue;
  height: 20%;
  top: 160px;
  width: 10%;
}
.footer {
  position: relative;
  z-index: 1;
  bottom: 0;
}
.whatsapp {
  font-size: '64px';
  color: Green;
}
